.bundle
.sass-cache
Gemfile.lock
_site
*.gem

*.class

# Package Files #
*.jar
*.war
*.ear
/target/

.project
.classpath
.settings/
dist/
.bak
.zip
.gzip
.tar

*.DS_Store
*.iml
*.ipr 
*.iws
 
*.log
*.idea 
